.sub-nav {
    position: static;
    padding: 5px 0;
    margin: 5px 50px 10px;
    display: flex;
    gap: 10px;
}

#form-ranking {
    display: flex;
    gap: 10px;
    font-weight: bold;
    color: #e0e1dd;
}

#form-ranking > .form-group {
    padding: 6px;
    border-radius: 8px;
    background: #0d1b2a;
}

#form-ranking > .form-group > select {
    background: none;
    color: #e0e1dd;
    font-weight: bold;
    border: none;
}

#form-ranking > .form-group > select > option {
    background: #0d1b2a;
    color: #e0e1dd;
    font-weight: bold;
    border: none;
}